USE [master]
GO
/****** Object:  Database [Financiera]    Script Date: 5/22/2022 9:52:57 PM ******/
CREATE DATABASE [Financiera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Financiera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Financiera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Financiera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Financiera_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Financiera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Financiera]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 5/22/2022 9:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentaAhorro]    Script Date: 5/22/2022 9:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaAhorro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Saldo] [int] NOT NULL,
	[Cliente] [int] NOT NULL,
 CONSTRAINT [PK_CuentaAhorro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentaCliente]    Script Date: 5/22/2022 9:52:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
	[TipoTransaccion] [tinyint] NOT NULL,
	[Monto] [int] NOT NULL,
	[Cliente] [int] NOT NULL,
	[Cuenta] [int] NOT NULL,
 CONSTRAINT [PK_CuentaCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CuentaAhorro]  WITH CHECK ADD  CONSTRAINT [FK_Cta_Ahorro_Cte] FOREIGN KEY([Cliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[CuentaAhorro] CHECK CONSTRAINT [FK_Cta_Ahorro_Cte]
GO
ALTER TABLE [dbo].[CuentaCliente]  WITH CHECK ADD  CONSTRAINT [FK_Cta_Ahorro_Cta] FOREIGN KEY([Cuenta])
REFERENCES [dbo].[CuentaAhorro] ([Id])
GO
ALTER TABLE [dbo].[CuentaCliente] CHECK CONSTRAINT [FK_Cta_Ahorro_Cta]
GO
ALTER TABLE [dbo].[CuentaCliente]  WITH CHECK ADD  CONSTRAINT [FK_Cte_Cta] FOREIGN KEY([Cliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[CuentaCliente] CHECK CONSTRAINT [FK_Cte_Cta]
GO
USE [master]
GO
